.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode
log/
__pycache__
software/.holos_lastport
.pyc
software/vision.old
software/vision/Lib
software/vision/Include
software/vision/Scripts